.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  height: auto;
  font-size: 30px;
  padding: .5em 0 .5em 0;
}
.columns-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.footer-col-1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  color: white;
}
.footer-col-2{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  color: white;
}
.footer-col-3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 10px;
  color:white;
}
.footer-second-line{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  height: auto;
}
.hr-footer-color-grey{
  border: 1px solid var(--main-color);
  width: 100%;
}
.footer-social-btns{
  display: flex;
  border: none;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-social-text{
  font-size: 1rem;
  padding-left: 10px;
  margin-top: 10px;
  width: 5.2em;
  text-align: start;
}
.container-btns-footer{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 40px;
  flex-wrap: wrap;
  border: none;
}
.img-footer{
  width: 80px;
  height: 65px;
}
.footer-ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-top: .5em;
  gap: .5em;
}
.footer-li{
  font-size: 1rem;
}
.footer-li:hover{
  border-bottom: 3px solid var(--main-color);
  cursor: pointer;
}
.sponsor-btn-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 90px;
  height: 70px;
  border: 2px solid rgb(238, 238, 238);
  color: white;
  font-weight: bold;
}
.sponsor-btn-footer:hover{
  background-color: rgb(238, 238, 238);
  filter:drop-shadow(0 0 1rem var(--main-color));
}
.footer-title-navg{
  font-size: 16px;
  font-weight: bold;
  color: var(--main-color)
}
.footer-about-us{
  font-size: 14px;
  color: white;
  width: 45%;
}
.other-titles-footer{
  font-size: 24px;
  font-weight: bold;
}
.footer-text{
  padding-top: 1em;
  font-size: 14px;
  color: white;
}
.navDrop{
  color: white;
  text-decoration: none;
}
.navDrop:hover{
color: white;
}
.img-qr{
  width: 13rem;
  align-self: center;
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: .5rem;
}
.qr-title{
  color: var(--main-color);
  font-size: 20px;
}
.qr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}